@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* ### Primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  /* ### Accent */
  --Blue: hsl(248, 32%, 49%);
  /* ### Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Red);
  margin: 100px;
  font-family: "Poppins", sans-serif;
  background-image: url(/images/bg-intro-desktop.png);
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.container-wrapper-left {
  padding: 5rem 3rem;
  flex: 1;
}

h1 {
  color: white;
  font-size: 2.5rem;
}

p {
  font-size: 0.8rem;
  color: white;
}

.container-wrapper-right {
  flex-direction: column;
  display: flex;
  width: 50%;
  gap: 1rem;
}

.offer {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--Blue);
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.9rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.3);
  font-size: 0.7rem;
  font-weight: 600;
}

.montlyoffer {
  font-weight: 400;
}

.offerpara {
  margin: 0;
}

.form {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  font-weight: 600;
  padding-left: 0.9rem;
  border-radius: 5px;
  border: 0.2px solid var(--Dark-Blue);
  color: var(--Dark-Blue);
  font-size: 0.9rem;
}

input:focus {
  outline: none;
}

button {
  width: 100%;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  background-color: var(--Green);
  border: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 425px) {
  .container-wrapper {
    flex-direction: column;
  }

  .container-wrapper-right {
    width: 100%;
  }

  .form,
  .offer {
    width: 100%;
  }
}
